@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');

html{
  /* font-size: 62.5%; */
  width: 100%;
}


*{
    padding: 0;
    margin: 0;
    font-family:'Itim', cursive;
}


:root{ 
    --navbar-height: 80px;
    --font-a:'Itim', cursive;

}

body{
    background: #99eba4;   
}

.navbar::before {
  content: "";
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

.navbar {
    height: var(--navbar-height);
    position:relative;
    display: flex;
    align-items: center;
    top: 0px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 8px;
    /* background-color: #085a90; */
    background-image: linear-gradient(to right ,#4cc43c,#20702b);
    z-index: 999;
    color: #090a0a;
    /* opacity:0.5;  */
  }



.img_container {
    margin: 4px 5px;
  }
.img_container img{
    height: 4rem;
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius:100%;
  }

  .navbar .searchbar {
    display: flex;
    margin-left: 4rem;
    /* margin-inline-start: 70px; */
    
  }


  .navbar .searchbar #t_search{
    padding: 0.5rem;
    padding-left: 0.81rem;
    border: none;
    font-size: 1rem;
  }

.navbar .searchbar .s_btn{
  /* border-bottom-right-radius: 15px; */
  /* border-top-right-radius: 15px; */
  /* float: left; */
  /* width: 20%; */
  /* padding: 6.7px; */
  background: #757677;
  color: white;
  font-size: 1rem;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
    
}



::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper .search-input{
  background: #fff;
  /* width: 100%; */
  border-radius: 0.3rem;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 1.1rem;
  width: 18.7rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0 60px 0 20px;
  font-size: 1.2rem;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}


.search-input.active input{
  border-radius: 5px 5px 0 0;
  /* position: fixed; */
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 17.5rem;
  position: relative;
}

.search-input.active .autocom-box{
  padding: 0.6rem 0.5rem;
  opacity: 1;
  position: absolute;
  pointer-events: auto;
  background-color: white;
  left: 0;
  right: 0;
}

.autocom-box li{
  list-style: none;
  padding: 0.5rem 0.75rem;
  display: none;
  /* width: 100%; */
  cursor: default;
  border-radius: 0.18rem;
  /* display: none; */
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: -0.625rem;
  height: 3.4rem;
  width: 3.4rem;
  text-align: center;
  line-height: 3.4rem;
  font-size: 1.2rem;
  color: #644bff;
  cursor: pointer;
}

.navbar  #start-btn{
  border-radius: 3.12rem;
  width: 2.5rem;
  background:none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;  
  /* color: #090a0a; */
  font-size: 1.37rem;
  color: rgb(61, 59, 59) ;
  margin: 0rem 0.6rem;
}

.navbar ul{
    display: flex;
    /* line-height: 80px; */
    margin-left: 1.8rem;
    font-style: var(--font-a);
  }
  
  .navbar ul li{
    list-style: none;
    font-size: 1.3rem;
  }


  .navbar ul li a{
    display: block;
    padding: 0.625rem 2.18rem ;
    border-radius: 1.2rem;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
  }

.navbar ul li a:hover{
    color: black;
    background-color: white;
}




.burger{
  display: none;
}

.burger div{
  height: 4px;
  width: 26px;
  background-color: black;
  opacity: 0.8;
  margin: 5px;
}

/* making navbar responsive*/
@media screen and (max-width:1187px){
  .navbar ul{
    margin-left: 0rem;
  }

  .navbar ul li{
    font-size: 1.2rem;
  }
  
  .navbar .searchbar {
    display: flex;
    margin-left: 0.5rem;
    /* margin-inline-start: 70px; */
    
  }
  
  .navbar ul li a{
    display: block;
    padding: 0.625rem 1.5rem ;
    border-radius: 1.2rem;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
  }

  .search-input input{
    width: 12.7rem;
  }

  .img_container img {
    height: 3rem;
  }

}

/* making a collapsing navbar */
@media screen and  (max-width:955px){
  .categories{
    flex-direction: column;
    align-items: center;
  }
  .categories div a:hover{
    background-color: rgb(230, 225, 220);
  }
  .cat_items{
    width: 100%;
  }
  /* .navbar{
    height: 80px;
  } */
  .navbar{
    transition: all 0.5s ease-out;
  }
  .navbar .items {
    transition: all 0.5s ease-out;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 16rem;
    display: none;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(rgb(69, 126, 73),rgb(172, 239, 170));
  }


  .burger{
    display: block;
    position: absolute;
    cursor: pointer;
    right: 40px;
  }
  
}

.h-nav{
  height: 50px;
}









.clearfix{
    clear: both;
}

.logo{
    margin: 0px;
    margin-left: 28px;
    font-weight:bold;
    color:white;
    margin-bottom: 30px;
    font-size: 35px; 
}
.logo span{
 color: #f7403b;   
}
.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-image: linear-gradient(to right ,#5a9252,#449e50);
    overflow: hidden;
    transition: 0.5s;
    padding-top:30px;
}
/* .sidenav , .main{
  position: absolute;
} */

.sidenav a{
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;

}
.sidenav a:hover{
    color: #f1f1f1;
    background-color: #1b203d;
}

#main{
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
    margin-top: 80px;
}
.head{
    padding: 20px;
}
.col-div-6{
    position: relative;
    width: 50%;
    float: left;
}
.profile{
    display:inline-block ;
    float: right;
    width: 170px;
}
.pro-img{
    float: left;
    width: 40px;
    margin-top: 5px;
}
.profile p{
    color: rgb(12, 11, 11);
    font-weight:500;
    margin-left: 55px;
    margin-top: 10px;
    font-size:13.5px
}
.profile p span{
    font-weight: 400;

}
.nav{
    display: none;
}
/* .col-div-3{
    width: 25%;
    float: left;
}

.box{
    width: 85%;
    height: 100px;
    background-color: #272c4a;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}
.box p{
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
    font-size: 20px;
    font-weight: 400;
    color: #818181;
}
.box-icon{
    font-size: 40px !important;
    float: right;
    margin-top: 35px !important;
    color: #818181;
    padding-right: 10px;
} */
.col-div-8{
  /* margin-top: 30px; */
  /* bottom: 30px; */
    width:100%;
    float: left;
}
.col-div-4{
    width: 30%;
    float: left;
}
.content-box{
    padding: 20px;
}
.content-box p{
    margin: 0px;
    font-size: 20px;
    color:#f7403b;
}
.content-box p span{
    float: right;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8{
    width: 96.5%;
    background-color: #272c4a;
    height: 25rem;
    margin-left: 10px;
    width: 95%;
    overflow-y: scroll;
    margin-bottom: 10px;
}


.box-8::-webkit-scrollbar{
  display: none;
}
.cat_types{
    padding:15px;
    font-size: 1.3rem;
}
table{
    width: 100%;
}

td,th{
    text-align: left;
    padding: 15px;
    color: #add;
    border-bottom:1px solid #81818149 ;
}
.footer_main .sub_footer{
  /* margin-top: 50vh; */
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: #434445;
}

.footer_main .sub_footer .dif_block ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.footer_main .last_footer {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: black;
}