.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
  }
  
  .navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin: 0 10px;
  }
  
  .navbar-menu li a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  .active {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
    right: 0;

  }
  
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
    }
  
    .burger {
      display: block;
      /* position: relative; */
    }
  }
  